.sporeSelector {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--bg);
  color: var(--text);
}

.space {
  composes: itemSlot from '@/app/card-selector.module.css';
  /* border: 1px solid black; */
  min-width: 200px;
  height: 360px;
  cursor: pointer;
  /* margin: 0 10px 10px 0; */
  /* padding: 10px; */
  position: relative;
}

.emptySpace {
  border: 2px solid var(--text);
}

.plot,
.picker {
  display: flex;
  flex-wrap: wrap;
}

.plotWrapper {
  max-width: 100%;
}

.selected {
  composes: selected from '@/app/card-selector.module.css';
}

.actions {
  display: flex;
  flex-direction: row;
}

.actions>* {
  margin-right: 10px;
}