.sporeSelector {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--bg);
  color: var(--text);
}

.emptySpace {
  border: 1px solid black;
  width: 200px;
  height: 250px;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 10px;
  position: relative;
}

.selectedEmptySpace {
  border-color: var(--text);
}

.plot,
.picker {
  display: flex;
  flex-wrap: wrap;
}

.plotWrapper {
  max-width: 100%;
}