.itemList {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  max-width: 100%;
}

.itemSlot {
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 3px;
}

.itemSlotWithHover:hover {
  border: 2px solid lightblue;
}

.selected {
  border: 2px solid lightblue !important;
}