:root {
  --bg: #382b1d;
  --text: #eddaa6;
  --link: ##9272b3;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--link);
}

button {
  padding: 10px;
  border: 1px solid;
  border-color: var(--link);
  color: var(--link);
  background-color: transparent;
}

button:active {
  background-color: rgba(0, 0, 0, 0.1);
}