:root {
  --bg: #382b1d;
  --text: #eddaa6;
  --link: ##9272b3;
  --modal-bg: rgb(109, 76, 24);
  --toastify-toast-background: var(--modal-bg);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

body,
html {
  height: 100%;
  margin: 0;
}

a {
  color: var(--link);
}